<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Product</title>
  <link rel="stylesheet" href="/css/add-product.css">
</head>
<body>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/show-products">Show Products</a>
    </nav>
  <h1>Add a Product</h1>
  <form action="/add-product" method="POST">
    <input type="text" name="product" required placeholder="Product Name" />
    <button type="submit">Add Product</button>
  </form>
  <!-- <p><a href="/">Back to Home</a></p> -->
</body>
</html>
