html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.nav{
    background-color: brown;
    height: 10vh;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    gap: 20px;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: beige;
}
h1{
    text-align: center;
    font-size: 3rem;
    
}

form{
    margin:0 auto;
    height: 5vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
input{
    height: 5vh;
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 20px;
    border: 1px solid brown;
    color: brown;
}
button{
    height: 5vh;
    border-radius: 20px;
    padding: 0 20px;
    background-color: beige;
    color: brown;
    border: 1px solid brown;
}