html, body {
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
}

/* App Container Styling */
.app-container {
  width: 90%;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fefefe;
}